#topdiv{
	margin:auto;
	height: 100px;
  	border-radius: 20px 20px 0 0;
  	-moz-border-radius: 5px 5px 0 0;
  	-webkit-border-radius: 5px 5px 0 0;
        background: orange;
  	/*background: #126354;*/
	width:1000px;
        align:center;
	border-right:1px dashed green;
	border-left:5px solid red;
	/*border-top:5px solid green;*/  	
}
#bodystl{
  	/*height: 150px;*/
  	border-radius: 0 0 0 0;
 	-moz-border-radius: 5px 5px 0 0;
  	-webkit-border-radius: 5px 5px 0 0;
  	background: #aacc99;
  	/*border-bottom: 2px solid #0fa1e0;*/
	margin:auto;  
}

#logins{
	text-align:right;
	color:white;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
}

#bodydiv{
	margin:auto;
	height: 750px;
  	border-radius: 0 0 0 20px;
  	-moz-border-radius: 0 0 0 0;
  	-webkit-border-radius: 0 0 0 0;
  	background: #126354;
	width:1000px;
        align:center;
	border-left: 5px solid red;
	border-right:1px dashed green;
        
}
#logdiv{
        border-radius: 20px 20px 20px 20px;
        height: 20px;
		border-radius: 5px 5px 5px 5px;
        background: gray;
		text-align:right;
        width:50px;
		color:white;

}
#logdiv a{
        border-radius: 20px 20px 20px 20px;
        height: 20px;
	border-radius: 5px 5px 5px 5px;
        background: gray;
	text-align:right;
        width:40px;
		color:white;

} 

#special{
	background: white;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
	border-radius: 5px 5px 5px 5px;
	color:orange;
	
}
#special:hover{
	background: white;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
	color:black;
	border-radius: 5px 5px 5px 5px;
}
#advert{
	/*background: #126354;*/
}
#logo{
	/*background: #126354;*/
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
}
